body{
    margin: 0px;
    
}
table{
    margin: auto;
    
}
td{
    font-size: 12px;
    text-align: center;
}
.solayasli{
    text-align: left;
    font-size: 16px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #393E46;
    width: 100%;
}
li{
    float: left;
}

li a{
    display: block;
    color: #EEEEEE;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #222831;
}
.active{
    background-color: #04AA6D;
}
img{
    width: auto;
    height: 300px;
    
}
.foto{
    height: 50px;
    

}
